# Copyright (c) 2026 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_COMET_LEFT
    def_bool $(shields_list_contains,comet_left)

config SHIELD_COMET_RIGHT
    def_bool $(shields_list_contains,comet_right)
